@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
:root{
    --mainColor: #c49d64;
    --mainColorHighLight: #784f28;
    --secondaryColor: #dfc990;
    --textColor: #5c4026;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);

}

nav a{
  margin: 0 2rem;
  color: var(--textColor);
  text-decoration: none;
}
nav a:hover{
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
}

@media only screen and (max-width: 1024px){
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }
  header nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    background-color: var(--mainColor);
    transition: 0.5s;
    transform: translateY(-100vh);
  }
  header .responsive_nav {
    transform: none;
  }
  
  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;

  }

  nav a{
    font-size: 1.5rem;
  }
}
  
  /* Define the logo styles */
  .logo {
    width: 50px;
    height: 50px;
    transition: transform 1s;
  }
  
  /* Add the rotation animation on hover */
  .logo:hover {
    transform: rotate(360deg);
  }

  .logo.image {
    top: 0px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: transform 1s;
  }